
.autosave_dialog{
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    padding: 0.5em 2em;
    text-align: center;
}
.autosave_message{
    background-color: #58a900;
    color: #ffffff;
}

.autosave_error{
    background-color: #cb1000;
    color: #ffffff;
}